/* Contenedor principal */
.absolute-container-creacion-adopcion {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-top: 10%;
  background-color: #fdf0e6; 
}

.absolute-container-creacion-adopcion::-webkit-scrollbar {
  width: 5px;
  right: 5%;
  color: #FCF3E3;
}

.absolute-container-creacion-adopcion::-webkit-scrollbar-thumb {
  background: #ffcc80;
  border-radius: 80px;
}

.absolute-container-creacion-adopcion::-webkit-scrollbar-thumb:hover {
  background: #ffa726;
}

.absolute-container-creacion-adopcion::-webkit-scrollbar-track {
  background: none;
}

/* Contenedor de fondo y la imagen del fondo */
.background-container-creacion-adopcion {
  background-image: url("/fondo.svg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  justify-self: center;
  min-height: 100vh;
  width: 80vw;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contenedor del logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.logo-img {
  max-width: 100%;
  height: 100px;
}

/* Formulario de Creación de Adopción */
.crear-adopcion-container {
  width: 50vw;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  background-color: #fdf0e6;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid #BDD3CE;
  margin-bottom: 10%;
}


/* Estilo para el formulario */
.form-group {
  margin-bottom: 10px; 
}

.label-creacion-adopcion-direction,
.label-creacion-adopcion-locality,
.label-creacion-adopcion-descripcion, 
.label-creacion-adopcion-title {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #333;
}

.input-creacion-adopcion-locality,
.textarea-creacion-adopcion-descripcion,
.input-creacion-adopcion-direction, 
.input-creacion-adopcion-title {
  width: 100%;
  padding: 10px; 
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
}

.input-creacion-adopcion-locality:focus,
.textarea-creacion-adopcion-descripcion:focus,
.input-creacion-adopcion-direction:focus,
.input-creacion-adopcion-title:focus{
  border-color: #b9f1e4;
  outline: none;
}

.form-row textarea{
  width: 100%;
  padding: 10px; 
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 5px;
  transition: border-color 0.3s ease;
  background-color: #bdd3ce;
  height: 10rem;
  resize: none;
}

.photo-container-creacion-adopcion {
  text-align: center;
  margin-bottom: 20px;
}

.photo-container-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #ccc;
  object-fit: cover;
}

.form-row-nombre-mascota{
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}


/* Estilos generales para el botón */
.btn-crear-adopcion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #F4A258;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  margin: 0 auto;
}

/* Estilo de la huella (icono Font Awesome) */
.btn-crear-adopcion .huella-icon {
  margin-right: 10px;
  font-size: 24px;
}


/* Animación de salto continuo en hover */
@keyframes saltar {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.btn-crear-adopcion:hover .huella-icon {
  animation: saltar 0.6s infinite ease-in-out;
}

@media (max-width: 768px) {
  .crear-adopcion-container {
    width: 95%;
  }

  .logo-img {
    max-width: 80%;
  }

  .photo-container-img {
    width: 80px;
    height: 80px;
  }
  .logo-container{
    padding-top: 30%;
  }

  .crear-adopcion-container{
    margin-bottom: 10%;
  }
}

@media (max-width: 480px) {
  .btn-crear-adopcion {
    font-size: 16px;
    padding: 8px 16px;
  }

  .photo-container-img {
    width: 60px;
    height: 60px;
  }

  .logo-container{
    padding-top: 30%;
  }

  .crear-adopcion-container{
    margin-bottom: 10%;
  }
}