@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

@font-face {
    font-family: "Koulen";
    src: url("../fonts/Koulen-Regular.ttf") format("truetype");
}

/* General */
body {
    background-color: #fdf0e6;
    /*background-image: url("../src/img/fondo.svg");*/
    background-position: center bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    font-family: 'Aoboshi One', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedor imagen fondo del login*/
.background-container {
    background-image: url("/fondo.svg");
    background-size: contain; /* Mantiene la imagen sin distorsionar y ajusta su tamaño */
    background-position: bottom center; /* Alinea la imagen al borde inferior */
    background-repeat: no-repeat;
    height: 100vh; /* Mantiene la altura completa de la ventana */
    width: 55vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Contenedor del contenido */
.login-content {
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: none;
    background: transparent;
    /*max-width: 400px;*/
    width: 400px
}
/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Logo */
.logo {
    width: 300px !important;
    margin-bottom: 20px;
}

/* Form */
.login-form {
    margin: 0 auto;
}

/* Input Fields */
.custom-input {
    width: 100%;
    box-sizing: border-box;
}

.login-form input{ 
    background-color: #BDD3CE;
    border: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #302f2fe5;
}

.login-form input:focus{
    outline: none;
    border-color: #FCF3E3;
    box-shadow: 0 0 5px rgba(132, 211, 250, 0.8);
    color: #302f2fe5;
    background-color: #BDD3CE;
}


.login-form button{
    background-color: #7ab453;
    color: #FCF3E3;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Aoboshi One', sans-serif;

}

/* Show Password Button */
.show-password-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #4a4a4a;
}

/* Login Button */
.login-btn {
    background-color: #8fc064;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    margin-top: 10px;
}

/* Links */
.forgot-password-text,
.signup-text {
    font-size: 14px;
    margin-top: 10px;
    color: #4a4a4a;
    font-family: 'Aoboshi One', sans-serif;
}

.forgot-password-text a,
.signup-text a {
    color: #f39029;
    text-decoration: none;
}

.forgot-password-text a:hover,
.signup-text a:hover {
    text-decoration: underline;
}

/* Welcome Text */
.welcome-text {
    color: #F4A258;
    font-size: 128px;
    font-family: 'Koulen', sans-serif;
    margin-bottom: 30px;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.login-btn:hover {
    background-color: #7ab453;
}

/* Tooltip Login */
.tooltip-login {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip-login-email {
    position: absolute;
    top: -95%;
    left: 50%;
    /* transform: translateX(-50%); */
    visibility: hidden;
    background-color: #ffa8269d;
    color: #302F2F;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 200;
    padding: .25rem;
    z-index: 100;
}

.tooltip-login-password {
    position: absolute;
    top: -62%;
    left: 58%;
    /* transform: translateX(-50%); */
    visibility: hidden;
    background-color: #ffa8269d;
    color: #302F2F;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 200;
    padding: .25rem;
    z-index: 100;
}

.tooltip-login-email::after,
.tooltip-login-password::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: #ffa726 transparent transparent transparent;
}

.tooltip-login:hover .tooltip-login-email,
.tooltip-login:hover .tooltip-login-password {
    visibility: visible;
}

/* Responsiveness */
@media (max-width: 768px) {
    .login-content {
        max-width: 80%;
        padding: 15px;
    }

    .logo {
        width: 120px !important;
        margin-bottom: 15px;
    }

    .welcome-text {
        font-size: 80px;
    }

    .login-btn {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .login-content {
        max-width: 90%;
        padding: 10px;
    }

    .logo {
        width: 100px !important;
        margin-bottom: 10px;
    }

    .welcome-text {
        font-size: 64px;
    }

    .login-btn {
        width: 80%;
    }
}
