@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

@font-face {
  font-family: "Koulen";
  src: url("../fonts/Koulen-Regular.ttf") format("truetype");
}

/* General */
/*body {
  /*background-image: url("../src/img/fondo.svg");*/
  /*background-position: center bottom;
  background-size: 60%;
  background-repeat: no-repeat;
  font-family: "Aoboshi One", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Contenedor imagen fondo del login*/
.background-container {
  background-image: url("/fondo.svg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 60vw;
  display: flex;
  align-items: center;
  padding-top: 50px;
  position: relative;
  top: 50%;
  flex-grow: 1;
}

/* Contenedor del contenido */
.login-content {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: none;
  background: transparent;
  justify-content: space-between;
  /*max-width: 400px;*/
  width: 90%;
  height: 90%;
  max-width: 400px;
  max-height: 90vh;
  min-height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  margin-top: 10px;
}

.login-content img {
  justify-content: center;
  align-items: center;
}

.logo-img-login {
  max-width: 70%;
  height: auto;
  margin-top: auto;
  margin-left: 15%;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 0;
}

/* Logo */
.logo {
  width: 300px;
  margin-bottom: 20px;
}

/* Form */
.login-form {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* Input Fields */
.custom-input {
  width: 100%;
  box-sizing: border-box;
}

.login-form input {
  background-color: #bdd3ce;
  border: 50px;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #302f2fe5;
}

.login-form input:focus {
  outline: none;
  border-color: #fcf3e3;
  box-shadow: 0 0 5px rgba(132, 211, 250, 0.8);
  color: #302f2fe5;
  background-color: #bdd3ce;
}

.login-form button {
  background-color: #7ab453;
  color: #fcf3e3;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Aoboshi One", sans-serif;
}

/* Show Password Button */
.show-password-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #4a4a4a;
}

/* Login Button */
.login-btn {
  background-color: #8fc064;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: bold;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Links */
.forgot-password-text,
.signup-text {
  font-size: clamp(12px, 2vw, 14px);
  margin-top: 3px;
  color: #4a4a4a;
  font-family: "Aoboshi One", sans-serif;
}

.forgot-password-text a,
.signup-text a {
  color: #f39029;
  text-decoration: none;
}

.forgot-password-text a:hover,
.signup-text a:hover {
  text-decoration: underline;
}

/* Welcome Text */
.welcome-text-login {
  color: #f4a258;
  font-size: clamp(48px, 8vw, 128px);
  font-family: "Koulen", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.login-btn:hover {
  background-color: #7ab453;
}

/* Tooltip Login */
.tooltip-login {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltip-login-email {
  position: absolute;
  top: -95%;
  left: 50%;
  /* transform: translateX(-50%); */
  visibility: hidden;
  background-color: #ffa8269d;
  color: #302f2f;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 200;
  padding: 0.25rem;
  z-index: 100;
}

.tooltip-login-password {
  position: absolute;
  top: -62%;
  left: 58%;
  /* transform: translateX(-50%); */
  visibility: hidden;
  background-color: #ffa8269d;
  color: #302f2f;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 200;
  padding: 0.25rem;
  z-index: 100;
}

.tooltip-login-email::after,
.tooltip-login-password::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7px;
  border-style: solid;
  border-color: #ffa726 transparent transparent transparent;
}

.tooltip-login:hover .tooltip-login-email,
.tooltip-login:hover .tooltip-login-password {
  visibility: visible;
}

/* Responsiveness */
@media (max-width: 768px) {
  .login-content {
    top: 0;
    transform: translateY(0);
    max-width: 90%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .logo {
    width: 120px ;
    margin-bottom: 15px;
  }

  .welcome-text {
    font-size: 80px;
  }

  .login-btn {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .login-content {
    max-width: 95%;
    padding: 5px;
    top: 0;
    transform: translateY(0);
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 100px !important;
    margin-bottom: 10px;
  }

  .welcome-text {
    font-size: 64px;
  }

  .login-btn {
    width: 80%;
  }

  /*.logo-img-login{
        max-width: 70%;
    }*/
}

.absolute-login-container::-webkit-scrollbar{
  width: 10px;
  color: #FCF3E3;
}
.absolute-login-container::-webkit-scrollbar-thumb {
  background: #ffcc80; 
  border-radius: 80px; 
}
.absolute-login-container::-webkit-scrollbar-thumb:hover {
  background: #ffa726; 
}
.absolute-login-container::-webkit-scrollbar-track {
  background: none; 
}

.footer-container-login{
  text-align: center;
  padding: 0 0;
  width: 100%;
  position: relative;
  overflow: visible;
  background-color: #7BB66D;
  top: 50%;
  
}


.absolute-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fdf0e6;
}
