.modal-success-content .modal-content {
  background-color: #d4edda;
  color: #155724;
  border: none;
}

.modal-success-header {
  background-color: #d4edda;
  color: #155724;
  border-color: #d4edda;
}

.modal-success-body {
  background-color: #d4edda;
  color: #155724;
  border-color: #d4edda;
}

.modal-success-footer {
  background-color: #d4edda;
  border-color: #d4edda;
}

.modal-success-footer .modal-success-button-secondary {
  background-color: #999999;
  color: #ffffff;
  padding: 10px 20px;
  border-color: #999999;
}

.modal-success-footer .modal-success-button-secondary:hover {
  background-color: #7a7a7a;
  border-color: #7a7a7a;
}

.modal-success-footer .modal-success-button-primary {
  background-color: #7bb66d;
  color: #ffffff;
  padding: 10px 20px;
  border-color: #7bb66d;
}

.modal-success-footer .modal-success-button-primary:hover {
  background-color: #5a924c;
  border-color: #5a924c;
}

.modal-error-content .modal-content {
  background-color: #f8d7da;
  color: #721c24;
  border: none;
}

.modal-error-header {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f8d7da;
}

.modal-error-body {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f8d7da;
}

.modal-error-footer {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.modal-warning-content .modal-content{
  background-color: #ffffff;
  color: #856404;
  border: none;
}

.modal-warning-header {
  background-color: #ffffff;
  color: #000000;
  border-color: #fff3cd;
}

.modal-warning-body {
  background-color: #ffffff;
  color: #000000;
  border-color: #fff3cd;
}

.modal-warning-footer {
  background-color: #ffffff;
  border-color: #fff3cd;
}

.modal-confirm-button-secondary {
  background-color: #6c757d;
  color: #fff;
}

.modal-footer .modal-confirm-button-primary-delete {
  background-color: #ec5b56; 
  padding: 10px 20px;
  color: #fff;
  border: #ec5b56;
}

.modal-footer .modal-confirm-button-primary-delete:hover {
  background-color: #ca443f; 
  border: #ca443f;
}

.modal-footer .modal-confirm-button-primary {
  background-color: #569dd6; 
  padding: 10px 20px;
  color: #fff;
  border: #569dd6;
}

.modal-footer .modal-confirm-button-primary:hover {
  background-color: #458ac2; 
  border: #569eda;
}

.modal-footer .modal-confirm-button-secondary {
  background-color: #999999;
  color: #ffffff;
  padding: 10px 20px;
  border-color: #999999;
}

.modal-footer .modal-confirm-button-secondary:hover {
  background-color: #7a7a7a;
  border-color: #7a7a7a;
}

.modal-error-footer .modal-error-button-secondary{
  background-color: #ec5b56; 
  padding: 10px 20px;
  color: #fff;
  border: #ec5b56;
}


.modal-warning-footer .modal-warning-button-secondary{
  background-color: #999999;
  color: #ffffff;
  padding: 10px 20px;
  border-color: #999999;
}

.modal-warning-footer .modal-warning-button-secondary:hover{
  background-color: #7a7a7a;
  border-color: #7a7a7a;
}

.modal-warning-footer .modal-warning-button-primary{
  background-color: #F4A258;
  color: #ffffff;
  padding: 10px 20px;
  border-color: #F4A258;
}

.modal-warning-footer .modal-warning-button-primary:hover{
  background-color: #ce823f;
  color: #ffffff;
  border-color: #ce823f;
}