/*navbar.css Fuente personalizada */
@font-face {
  font-family: "AoboshiOne";
  src: url("../fonts/AoboshiOne-Regular.ttf") format("truetype");
}

/* Navbar */
.navbar {
  background-color: #7bb66d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-family: "AoboshiOne", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.3);
}

.nav-link {
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link .fas {
  font-size: 1.2rem;
  margin-left: 5px;
}

.navbar-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-link:hover {
  color: #ffd96e;
  transform: scale(1.1);
}

.logo-img {
  height: 50px;
}

.btn-custom {
  background-color: #ffd96e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.3s ease;
  background-color: 0.3s ease;
  display: block;
  margin: 0 auto;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-custom:hover {
  background-color: #ffc84c;
  transform: scale(1.05);
}

.navbar-toggler {
  display: block;
  z-index: 1050;
  position: center;
  color: #7bb66d;
}

.navbar-toggler-icon {
  border-radius: 4px;
  color: #fdf0e6;
  font-size: 1.5rem;
}

.navbar-toggler-icon:hover {
  color: #ffd96e;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 90px;
}

.profile-actions {
  display: flex;
  align-items: center;
}

.profile-photo-navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}

.profile-photo-navbar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.8rem;
}

.navbar .shopping-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.navbar .shopping-cart:hover {
  transform: scale(1.1);
}

.navbar .shopping-cart .cart-icon {
  font-size: 1.5rem;
  color: white;
}

/* Navbar para pantallas pequeñas */
@media (max-width: 992px) {
  .navbar-info {
    flex-direction: column;
    align-items: center;
  }
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    background-color: #7bb66d;
    position: fixed;
    top: 80px;
    right: 0;
    width: 250px;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1050;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-out;
    transform: translateX(100%);
    opacity: 0;
  }
  .navbar-collapse.show {
    display: block;
    background-color: #7bb66d;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 80px;
    right: 0;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.3);
    transform: translateX(0);
    opacity: 1;
  }
}

.button-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Navbar para pantallas más pequeñas (por debajo de 576px) */
@media (max-width: 576px) {
  .logo-img {
    height: 40px;
  }

  .btn-custom {
    background-color: #ffd96e;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 14px;
    padding: 8px 16px;
    display: flex;
    width: auto;
    margin: 0 auto;
  }

  .profile-actions > div {
    margin-right: 8px;
  }

  .profile-photo-navbar img {
    width: 35px;
    height: 35px;
  }
}
