.absolute-products-container {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin-top: 2%;
  background-color: #fdf0e6;
}

.products-container {
  margin-top: calc(var(--navbar-height, 80px));
  min-height: calc(100vh - var(--navbar-height, 80px));
}

.absolute-products-container::-webkit-scrollbar {
  width: 10px;
  color: #fcf3e3;
}
.absolute-products-container::-webkit-scrollbar-thumb {
  background: #ffcc80;
  border-radius: 80px;
}
.absolute-products-container::-webkit-scrollbar-thumb:hover {
  background: #ffa726;
}
.absolute-products-container::-webkit-scrollbar-track {
  background: none;
}

.footer-container-productos {
  text-align: center;
  padding: 0 0;
  width: 100%;
  position: relative;
  overflow: visible;
  background-color: #7bb66d;
  top: 50%;
}

/* Estilo para el contenido principal */
.main-content-products {
  align-items: center;
  flex-direction: column;
  display: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  flex: 1;
}

.main-content-products::-webkit-scrollbar {
  width: 10px;
  color: #7bb66d;
}
.main-content-products::-webkit-scrollbar-thumb {
  background: #7bb66d;
  border-radius: 80px;
}
.main-content-products::-webkit-scrollbar-thumb:hover {
  background: #7bb66d;
}
.main-content-products::-webkit-scrollbar-track {
  background: none;
}

.welcome-text {
  font-family: "Koulen", sans-serif;
  color: #8fc064;
  margin-bottom: 40px;
  text-align: center;
}

.details {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.details:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #7bb668;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.details span {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #302f2f;
}

.details svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #302f2f;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.details:hover:before {
  width: 100%;
  background: #84ca6a;
}

.details:hover svg {
  transform: translateX(0);
}

.details:active {
  transform: scale(0.95);
}

.card-productos {
  display: flex;
  border: none;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #bdd3cec3; /* Fondo blanco para las tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación para efecto hover */
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  align-items: stretch;
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevarse */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombra más intensa en hover */
}

/* Imagen del producto */
.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover; 
  transition: transform 0.3s ease; /* Efecto zoom en hover */
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  display: flex;
  justify-self: center;
  margin-left: 0;
}

.card-img-top:hover {
  transform: scale(1.05); /* Efecto de zoom en la imagen */
}

/* Contenido de la tarjeta */
.card-body {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: transparent; /* Asegúrate de que no haya un fondo no deseado */
}

/* Título del producto */
.card-title {
  font-family: "Koulen", sans-serif;
  color: #f39029;
  font-size: 1.2rem;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.card-title:hover {
  color: #ff9800; /* Cambio de color en hover */
}

/* Descripción del producto */
.card-text {
  font-size: 0.9rem;
  color: #757575;
  margin-bottom: 15px;
}

/* Precio */
.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #302f2f;
  margin-bottom: 20px;
}

/*botón carro*/
.btn-cart-products {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(90.1deg, #f6ad6d 0.2%, #ff7700 99.9%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.default-btn {
  background-image: linear-gradient(90.1deg, #f6ad6d 0.2%, #ff7700 99.9%);
}

.default-btn,
.hover-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1em 3em;
  border-radius: 0px;
  font-size: 10px;
  font-weight: 500;
  text-transform: none;
  transition: all 0.3s ease;
}

.hover-btn {
  position: absolute;
  inset: 0;
  font-size: 16px;
  padding: 1em 3em;
  text-align: center;
  background: #7bb66d;
  background: linear-gradient(63deg, #7bb668);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: translate(0%, 100%);
}

.default-btn span {
  color: hsl(0, 0%, 11%);
  margin-left: 20px;
  font-size: 1rem;
}

.hover-btn span {
  color: hsl(0, 0%, 11%);
}

.btn-cart-products:hover .default-btn {
  transform: translate(0%, -100%);
}

.btn-cart-products:hover .hover-btn {
  transform: translate(0%, 0%);
}

.filter-prices{
  display: flex;
  align-items: start;
  gap: 5px;
}

.filter-prices p{
  color: #f39029;
}

.container-header-filter{
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
  gap: 50px;
  justify-content: center;
  width: 100%;

}

.text-center-productos{
  position: relative;
  right: -13%;
  align-items: center;
  justify-content: start;
}

.select {
  width: fit-content;
  cursor: pointer;
  position:relative;
  align-items: center;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: #7bb668;
  color: white;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #7bb668;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #7bb668;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #a5d894;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#Todos:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#Todos:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#Menor-a-Mayor:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#Mayor-a-Menor:checked) .selected::before {
  content: attr(data-two);
}


@media (max-width: 768px) {

  .card-productos{
    max-width: 100%;
  }
  .card-img-top {
    height: 180px; 
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-price {
    font-size: 1rem;
  }

  .container-header-filter {
    grid-template-columns: 1fr; 
    padding: 0 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-center {
    text-align: center; 
    justify-content: center;
    right: 0; 
  }

  .select {
    width: 50%; 
  }

  .selected {
    width: 100%; 
    text-align: left; 
  }

  .arrow {
    right: 10px; 
  }
}

/* Estilo del contenedor de productos */
.row-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  padding:10px;
  max-width: 100%;
}

.col-cards-products{
  width: 70%;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-cards-products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .absolute-products-container {
    margin-top: 20%;
  }
  .main-content {
    top: 10%;
  }

  .row-productos{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 480px) {

  .row-productos{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card-productos{
    max-width: 80%;
  } 
  .absolute-products-container {
    margin-top: 30%;
  }
  .main-content {
    top: 10%;
  }

  .container-header-filter {
    padding: 0 5px; 
  }

  .select {
    width: 50%;
  }

  .selected {
    width: 100%; 
    text-align: left; 
  }
}
