@font-face {
  font-family: "Aoboshi One";
  src: url("../fonts/AoboshiOne-Regular.ttf") format("truetype");
}

/* Contenedor del perfil */
.profile-container {
  width: 90vw; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-height: 300px;
  max-width: 1600px; /* Establece un ancho máximo para evitar que se expanda demasiado */
  margin: 0 auto; /* Centra el contenedor */
  padding-top: 8%; /* Ajusta el espacio superior para que no esté tan pegado a la parte superior */
}

/* Estilos para la tarjeta con fondo azul */
.profile-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Asegura que ocupe el 100% del contenedor */
  padding: 2rem; /* Ajusta el espacio interno para más comodidad */
  margin: 0 auto; /* Centra la tarjeta */
  background-color: #BDD3CE; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
}

/* Estilos para el contenido del perfil */
.nombreUserProfile {
  font-family: "Aoboshi One", sans-serif;
  font-size: 48px; /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  color: #FFD96E;
}

.correoUserProfile,
.numeroUserProfile,
.direccionUserProfile,
.rolUserProfile {
  font-family: "Aoboshi One", sans-serif;
  font-size: 20px; /* Aumenta ligeramente el tamaño de la fuente */
  color: #302F2F;
  margin-bottom: 0.5rem;
  
}

/* Estilo para la imagen de perfil */
.img-fluid {
  width: 200px;
  height: 200px; /* Asegura que la imagen tenga el mismo alto que el ancho */
  border-radius: 50%; /* Hace que la imagen sea redonda */
}

/* Estilos para los íconos */

.flex-grow-1 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
}

.icons-container {
  display: flex;
  justify-content: center; /* Centra los íconos horizontalmente */
  gap: 2rem; /* Añade espacio uniforme entre los íconos */
  padding-top: 15%; /* Mantén el espacio superior */
}
.titulosIconos {
  text-align: center; /* Centra el texto debajo del ícono */
  font-family: "Aoboshi One", sans-serif; /* Opcional: asegúrate de mantener la fuente */
  font-size: 1rem; /* Ajusta el tamaño según lo que necesites */
  margin-top: 0.5rem; /* Añade espacio entre la imagen y el título */
  color: #302F2F;
}



/* Estilos responsivos */
@media (max-width: 1200px) {
  .profile-card {
    width: 85%; /* En pantallas grandes, reduce el ancho */
  }
}

@media (max-width: 992px) {
  .profile-card {
    width: 80%; /* En pantallas medianas, reduce el ancho */
  }
}

@media (max-width: 768px) {
  .profile-card {
    width: 100%; /* En pantallas pequeñas, ocupa el 100% del ancho */
  }
}

